<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 topnav">
      <div class="col-xs-2">
        <div class="row">
          <div class="topnavLogo">
            <span class="glyphicon glyphicon-user topnavLogoIcon"></span> FaceSpace
          </div>
        </div>
      </div>
      <div class="col-xs-1">
        <div class="row">
          <div class="topnavItem">
            <a href="" class="topnavLink active"><span class="glyphicon glyphicon-home itemLogo"></span>My Profile</a>
          </div>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="row">
          <div class="topnavItem">
            <a ui-sref='people' class="topnavLink"><span class="glyphicon glyphicon-user itemLogo"></span>People</a>
          </div>
        </div>
      </div>
      <div class="col-xs-7">
        <div class="row text-right">
          <div class="topnavItem">
            <a ng-click="logout()" class="topnavLink"><span class="glyphicon glyphicon-road itemLogo"></span>Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="row text-center">
        <div class="panel panel-default profilePanel">
          <div class="panel-body">
            <div class="col-xs-2">
              <img ng-src="{{myprofile.profileImg}}" alt="" class="profileImg">
            </div>
            <div class="col-xs-8 text-left">
              <div class="row infoItem">
                Username: {{myprofile.username}}
              </div>
              <div class="row infoItem">
                Website: <a href="">{{myprofile.website}}</a>
              </div>
              <div class="row infoItem">
                Biography: {{myprofile.biography}}
              </div>
              <div class="row">
                <button class="btn btn-danger editButton" ng-click="editProfile()">
                  <span class="glyphicon glyphicon-pencil"></span>Edit Profile
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
